body, html, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }
  
  .gallery {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .gallery h2 {
    text-align: center;
    background-color:#f0af4f;
    color: #fff;
    padding:  5px;
  }
   
  .gallery__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .gallery__item {
    flex: 1 1 calc(33.333% - 20px);
    margin: 10px;
    background: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .gallery__item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .gallery__img {
    width: 100%;
    height: auto;
    display: block;
  }



  .gallery-show-more {
    text-align: center;
    margin-top: 20px;
  }
  
  .gallery-show-more button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #f0af4f;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .gallery-show-more button:hover {
    background-color: #f0af4f;
  }

  
  @media (max-width: 768px) {
    .gallery__item {
      flex: 1 1 calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .gallery__item {
      flex: 1 1 100%;
    }
  }
  